{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="wrapper-switch">
        <div>
            <label>Change Theme</label>
            <label class="switch">
                <input id="theme-checkbox01" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="title" id="crowds">
        <img class="img-fluid" src="{% static 'mainfiles/images/Crowds_logo.png' %}">
        <h1>Welcome to The Crowds</h1>
        <label>Make a noise, Make the Crowds keep grows</label>
        <!-- Mandatory Hello apa kabar? -->
        <br>
        <a href="{% url 'profile' %}" class="btn btn-primary" id="btn-toProfile">Crowd Profile</a>
    </div>
    <div class="wrapper-form">
        <form id="form_schedule" method="POST" action="{% url 'submit_status' %}">
            {% csrf_token %}
            {{Form}}
        <br>
        <button id="submit_btn" type = "submit" class = "btn btn-primary">Send Noises</button>
    </form>
    </div>
    <div class="wrapper-status">
    {% for StatusModel in status_list reversed%}
        <div class="wrapper-message">
            <div class="message-title">
                <h3>{{StatusModel.crowder}}</h3>            
            </div>    
            <div class="message-body">
                <p>{{StatusModel.message}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div style="text-align :center ">
    <label >gatchaman crowds (c) Tatsunoko Production</label>
    <br>
</div>
{% endblock content %}