body{
    font-family: 'Raleway', sans-serif;
}

.title {
    margin: 1%;
    text-align: center;
    size: 200%;
}

.wrapper-form{
    margin: 2%;
    padding: 0 20% 0 20%;
}

.bottom-bar{
    text-align: center;
    margin-bottom: 10px;
}

.wrapper-status{
    margin: 0 15% 0 15%;
    text-align: center;
}

.wrapper-message{
    margin: 2% 10% 0 10%;
    text-align: left;
    border-radius: 10px;
    border: solid 0.1vw rgb(158, 158, 158);
    color: rgb(80, 80, 80);
}

.wrapper-profile{
    text-align: center;
    margin: 5% 20% 0 20%;
}

#Arnastria-logo{
    width: 20vh;
    height: auto;
    border-radius: 100%;
    border: solid 0.3vw rgb(255, 255, 255);
}

.wrapper-switch{
    text-align: right;
    padding: 1vh 0 0 0;
}

#profile_cont_fluid{
    margin: 0 0 10% 0;
}

.message-title{
    padding: 1% 0.3% 0.3% 0.3%;
    color: white;
    border-radius:  10px 10px 0 0;
    background-color: #007bff;
}

.message-body{
    padding: 1% 0.3% 0.3% 0.3%;
    border-radius: 0 0 10px 10px;
    color: black;
    background-color: white;
}

/*The following code is from nan*/

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(211, 62, 62);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(211, 62, 62);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  /* accordion stye part */

  #accordion{
    text-align: justify;
    margin: 5% 7% 0 7%;
  }

  #accordion .accordion-inside{
      
  }

  #accordion .ui-accordion-header{
      border: 1px solid #2d2d2d;
  }